{% extends 'blog/base.html' %}
{% block content %}
    {% comment %} equivalent to Bootstrap jumbotron that has been removed {% endcomment %}
    <div class="jumbotron">
        <h2>Login:</h2>

        {% if form.errors %}
            <p>Your username and password didn't match! Please try again.</p>
        {% endif %}

        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="Submit" value="Login">
            <input type="hidden" name="next" value={{ next }}>
        </form>

    </div>
{% endblock content %}