.techfont{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

.jumbotron {
    padding: 0.5rem 1rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

.center-posts{
    margin: auto;
}

.post-date{
    text-align: center;
}

.post-title{
    font-family: 'Rajdhani', sans-serif;
    font-size: 3em;
    text-align: center;
}
